name: Docker Build, Push to GHCR, and Webhook

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required for pushing to GitHub Container Registry

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Build from the root Dockerfile
          push: true
          tags: ghcr.io/sefatuter/test-flask-python:${{ github.sha }}

      - name: Send Success Webhook
        env:
          DEPAS_WEBHOOK_URL: ${{ secrets.DEPAS_WEBHOOK_URL }}
          IMAGE_FULL_TAG: ghcr.io/sefatuter/test-flask-python:${{ github.sha }}
        run: |
          WEBHOOK_PAYLOAD="{\"repo\": \"sefatuter/test-flask-python\", \"image\": \"${IMAGE_FULL_TAG}\", \"status\": \"success\"}"
          curl -X POST "${DEPAS_WEBHOOK_URL}" \
               -H "Content-Type: application/json" \
               -d "${WEBHOOK_PAYLOAD}"