name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Grant permission to write to GitHub Packages (GHCR)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/sefatuter/test-flask-python:${{ github.sha }}

      - name: Send success webhook
        env:
          WEBHOOK_URL: ${{ secrets.DEPAS_WEBHOOK_URL }}
          IMAGE_TAG: ghcr.io/sefatuter/test-flask-python:${{ github.sha }}
        run: |
          PAYLOAD='{
              "repo": "sefatuter/test-flask-python",
              "image": "${{ env.IMAGE_TAG }}",
              "status": "success"
          }'
          curl -X POST "${{ env.WEBHOOK_URL }}" \
               -H "Content-Type: application/json" \
               -d "$PAYLOAD"