name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Needed to push to GitHub Container Registry

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Build from the root Dockerfile
          push: true
          tags: ghcr.io/sefatuter/test-flask-python:${{ github.sha }}

      - name: Send success Webhook notification
        run: |
          REPO_FULL_NAME="sefatuter/test-flask-python"
          IMAGE_FULL_TAG="ghcr.io/sefatuter/test-flask-python:${{ github.sha }}"
          WEBHOOK_URL="${{ secrets.DEPAS_WEBHOOK_URL }}"
          
          # Construct the JSON payload using shell variables
          PAYLOAD='{
              "repo": "'"${REPO_FULL_NAME}"'",
              "image": "'"${IMAGE_FULL_TAG}"'",
              "status": "success"
          }'
          
          echo "Sending success webhook to: ${WEBHOOK_URL}"
          echo "Payload: ${PAYLOAD}"
          
          # Send the webhook notification
          curl -X POST "${WEBHOOK_URL}" \
               -H "Content-Type: application/json" \
               -d "${PAYLOAD}"