name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main

permissions:
  contents: read # Needed for actions/checkout
  packages: write # Needed for pushing to GitHub Container Registry

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/sefatuter/test-flask-python:${{ github.sha }}

      - name: Send Webhook notification on success
        run: |
          WEBHOOK_URL="${{ secrets.DEPAS_WEBHOOK_URL }}"
          REPO_FULL_NAME="${{ github.repository }}"
          IMAGE_FULL_NAME="ghcr.io/sefatuter/test-flask-python:${{ github.sha }}"
          
          PAYLOAD='{
              "repo": "'"${REPO_FULL_NAME}"'",
              "image": "'"${IMAGE_FULL_NAME}"'",
              "status": "success"
          }'
          
          echo "Sending webhook to ${{ secrets.DEPAS_WEBHOOK_URL }}"
          curl -X POST "${WEBHOOK_URL}" \
               -H "Content-Type: application/json" \
               -d "${PAYLOAD}"